@font-face {
    font-family: "SangBleu";
    src: url("../fonts/SangBleuOGSerif-Light-WebTrial.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SangBleu";
    src: url("../fonts/SangBleuOGSerif-LightItalic-WebTrial.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "SangBleu";
    src: url("../fonts/SangBleuOGSerifTrial-Hairline.otf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
  
@font-face {
    font-family: "SangBleu";
   src: url("../fonts/SangBleuOGSerifTrial-HairlineItalic.otf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Ogg";
   src: url("../fonts/Ogg-Thin.otf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Ogg";
   src: url("../fonts/Ogg-Regular.woff") format("truetype");
    font-weight: 300;
    font-style: normal;
}