@import "reset.css";
@import "fonts.css";

body {
  font-family: "SwearBig";
  width: 100%;
  height: 100%; 
}

.site {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}

.outer-wrapper {
	height: 100vh;
}

.outer-wrapper--nomin {
	height: auto;
}

.main-contain {
	display: flex;
	padding-left: 200px;
	padding-right: 100px;
}

.main-contain--left {
	display: flex;
	padding-left: 0px;
	padding-right: 0;
	position: relative;
}

.content {
	flex-basis: 85%;
}

.content--small {
	flex-basis: 70%;
}

.content--fixed {
	max-width: 848px;
	margin: auto;
	margin-top: 140px;
}

.logo {
	height: 140px;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.logo img{
	height: 60px;
}

.logo--fixed {
	position: fixed;
}

.carousel-inner {
	max-height: 450px;
}

.navigation {
	font-family: "Ogg";
	font-weight: 100;
	font-style: normal;
	text-transform: uppercase;
	font-size: 12px;
}

.navigation--fixed {
	position: fixed;
    top: 140px;
}

.navigation__list {
	list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 40px;
}

.navigation__list--left {
	padding-left: 60px;
	padding-right: 100px;
}

.navigation__item {
	padding-bottom: 10px;
}

.navigation__item a {
    text-decoration: none;
    color: #000;
}

.navigation__item span {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.navigation__item span::after,
.navigation__item span::before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0px;
    height: 1px;
    margin: 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #000;
    left: 0;
}

.navigation__item span:hover::after,
.navigation__item span:hover::before {
    width: 100%;
    opacity: 1;
}

.underlined::after,
.underlined::before {
  width: 100% !important;
  opacity: 1 !important;
}


.row-sa {
	margin-bottom: 3rem;
}

.view-button {
	right: 60;
    top: 140px;
    position: fixed;
	font-size: 18px;
}

.view-button i:hover{
	cursor: pointer;
}

.full img{
	margin: 2rem;
	width: auto !important;
    max-height: 600px;
}

.grid img {
	width: auto !important;
    max-height: 340px;
}

.carousel-indicators {
	bottom: -40px;
}

.carousel-indicators li{
	background-color: #000;
	
}

.card:hover {
	cursor: pointer;
}

.carousel-indicators .active{
	background-color: rgba(0,0,0,0.5);
}

.card {
	position: relative;
}

.card:hover img{
	transform: scale(1.1); 
	filter: none;
}

.card:hover span {
	opacity: 1;
}

.card span {
	opacity: 0;
	transition: opacity .2s ease;
	font-size: 18px;
	text-transform: uppercase;
	font-family: "Ogg";
}

.card a{
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.card a:hover {
	text-decoration: none;
	color: #000;
}

.card img{
	width: 100%;
    max-height: 240px;
}

.projects__image {
	transition: filter .2s, transform .2s;
	width: 100%;
	max-height: 140px;
	filter: grayscale(100%);
}

.colcenter {
	display: flex;
	justify-content: center;
}

/* .project__image {
	transition: transform .2s;
	width: 100%;
}

.project__image:hover {
	transform: scale(1.2); 
} */