@import "reset.css";
@import "fonts.css";

body {
  font-family: "SwearBig";
  width: 100%;
  height: 100%; 
}

#site-gif {
	width: 100%;
	z-index: 99998;
	opacity: 1;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

#site-gif img{
	height: 100vh;
	margin: 0 auto;
	width: 100%;
	object-fit: cover;
}

.show {
	opacity: 1;
	transition: opacity .2s ease-out;
}

.no-show {
	opacity: 0!important;
}

.hide {
	visibility: hidden;
}

.site {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}

.outer-wrapper {
	height: 100vh;
}

.outer-wrapper--nomin {
	height: auto;
}

.main-contain--left {
	display: flex;
	padding-left: 0px;
	padding-right: 0;
	position: relative;
}


.content {
	flex-basis: 90%;
    margin: auto;
}

.content--fixed {
	max-width: 848px;
	margin: auto;
	margin-top: 140px;
}

.logo {
	height: 140px;
    display: none;
    align-items: center;
    padding-left: 20px;
}

.logo--mob {
	display: flex;
}

.navmobile {
	display: flex;
    justify-content: space-between;
}

.main-contain {
	padding: 0 20px;
}

.logo img{
	height: 30px;
}

.logo--fixed {
	position: fixed;
}

.carousel {
	display: none;
}

.carousel--show {
	display: block;
}

.carousel-inner {
	max-height: 500px;
}

.navigation {
	font-family: "Ogg";
	font-weight: 100;
	font-style: normal;
	text-transform: uppercase;
	font-size: 12px;
	display: none;
}

.navigation--fixed {
	position: fixed;
    top: 140px;
}

.navigation__list {
	list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 40px;
}

.navigation__list--left {
	padding-left: 60px;
	padding-right: 100px;
}

.navigation__item {
	padding-bottom: 10px;
}

.navigation__item a {
    text-decoration: none;
    color: #000;
}

.navigation__item span {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.navigation__item span::after,
.navigation__item span::before {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0px;
    height: 1px;
    margin: 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #000;
    left: 0;
}

.navigation__item span:hover::after,
.navigation__item span:hover::before {
    width: 100%;
    opacity: 1;
}

.navigation--mob {
	display: flex;
}

.navigation--mob .navigation__list {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    /* right: 0; */
    padding-right: 20px;
}

.underlined::after,
.underlined::before {
  width: 100% !important;
  opacity: 1 !important;
}


.row-sa {
	margin: auto;
	margin-bottom: 3rem;
}

.row-sa .colmar:first-of-type {
	margin-bottom: 3rem;
}

.view-button {
	right: 60;
    top: 0;
    position: absolute;
	font-size: 18px;
	display: none;
}

.view-button i:hover{
	cursor: pointer;
}

.full img{
	max-height: 600px;
	margin-bottom: 2rem;
}

.grid img {
	max-height: 340px;
	object-fit: contain;
}

.carousel-indicators {
	bottom: -40px;
}

.carousel-indicators li{
	background-color: #000;
	
}

.card:hover {
	cursor: pointer;
}

.carousel-indicators .active{
	background-color: rgba(0,0,0,0.5);
}

.card {
	position: relative;
}

.card:hover img{
	transform: scale(1.1); 
	filter: none;
}

.card:hover span {
	opacity: 1;
}

.card span {
	opacity: 0;
	transition: opacity .2s ease;
	font-size: 18px;
	text-transform: uppercase;
	font-family: "Ogg";
}

.card a{
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
	width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.card a:hover {
	text-decoration: none;
	color: #000;
}

.card img{
	width: 100%;
    max-height: 240px;
}

.projects__image {
	transition: filter .2s, transform .2s;
	width: 100%;
	max-height: 140px;
	filter: grayscale(100%);
}

.colcenter {
	display: flex;
	justify-content: center;
}

.about {
	justify-content: center;
    max-height: 100%;
    flex-direction: column;
	display: flex;
	font-family: "SangBleu";
	padding: 0 20px;
}

.about__text {
	padding-top: 40px;
    line-height: 20px;
}

.about img {
	max-height: 220px;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "SangBleu";
}

.contact img {
	height: 300px;
    /* padding-bottom: 1rem; */
    margin-bottom: 4rem;
}

.contact p {
	padding-bottom: 6px;
}

.contact h1 {
	font-family: "Ogg";
	font-size: 18px;
    margin: 0;
}

.grid {
	display: none;
}

.full {
	display: block;
}

@media only screen and (min-width: 768px) { 
	.navmobile {
		display: none;
	}

	.logo {
		padding-left: 60px;
		display: flex;
	}

	.logo img {
		height: 60px;
	}

	.navigation {
		display: block;
	}

	.full {
		padding-right: 40px;
	}

	.main-contain {
		display: flex;
		padding-left: 60px;
		padding-right: 100px;
	}
}

@media only screen and (min-width: 1024px) {
	.about {
		padding-top: 0;
		justify-content: flex-start;
		flex-direction: row;
	}

	.about img {
		max-height: 400px;
	}

	.about__text {
		padding: 0 40px;
	}
	
}

@media only screen and (min-width: 1280px) {
	.ourwork {
		display: none;
	}

	.main-contain {
		padding-left: 200px;
	}

	.carousel {
		display: block;
	}

	.content {
		flex-basis: 85%;
	}

	.content--small {
		flex-basis: 70%;
		padding-right: 120px;
	}

	.about {
		max-height: 500px;
		justify-content: flex-start;
		flex-direction: row;
	}

	.about__text {
		flex-basis: 50%;
		padding: 0;
		padding-left: 40px;
	}

	.about img {
		max-height: 500px;
		height: 100%;
	}

	.contact {
		padding-right: 125px;
	}

	.view-button {
		display: block;
	}

	.full img {
		margin: 2rem;
		width: auto !important;
	}

	.full img:first-of-type {
		margin-top: 0;
	}

	.full {
		padding-right: 0;
	}

	.grid {
		display: block;
	}
}